# Site settings
site: Hieu Xuan Leu
title: Software Engineer
keywords: ephesus, blog
description: >-
  Software Engineer
lang: en-US
timezone:  Australia/Sydney
repo: https://github.com/onepase/Ephesus # site repo [optional]
google_verify:      XXX # Put your Google Verification here
google_analytics:   UA-XXXXXXXX-00 # Put your Google Analytics code
discus-identifier:  XXX

# Author settings
author:
  name: Hieu Xuan Leu
  bio: Software Engineer @Sydney
  picture: assets/images/hieu.jpeg 
  github: hieulxswe # github username
  twitter:  # twitter username
  facebook:  # facebook username
  instagram:  # instagram username
  youtube:  # youtube username
  linkedin:  # linkedin username
  email: hieulx.swe@gmail.com # email adress


# URL settings
url: "https://hieulxswe.github.io" # Domain Name of host. [username].github.io for github pages
permalink: 

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge


exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links
paginate: 20
paginate_path: "/page/:num"

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false